body{
    font-family: 'Fjalla One', sans-serif;
    background-image: url("images/background.png");
    color:white;
    letter-spacing:3px;
}

button{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 5px;
    font-weight: 500;
    color:white;
	font-size: 15px;
    letter-spacing: 2px;
    margin:5px;
    margin-bottom:20px;
    border-radius:5px;
    padding:10px;
    background:transparent;  
}

button:focus{
    outline:0;
    box-shadow:none!important;
}

#buttons{
    margin-top:5px;
    margin-bottom:10px;
    padding: 5px;  
}

#add-subject{
    margin-top:10px;
    border-radius:5px;
    letter-spacing:5px;
    color:white;
    background:transparent;
    padding:10px;
}

#add-subject:focus{
    outline:0;
    box-shadow:none!important;
}

#add-new{
    border-radius:10px; 
}

.card{
    background: transparent;
}

.jumbotron{
    background: url("images/banner3.png") center center no-repeat;
    background-size:cover;
    height: 375px;
    margin-bottom:10px;
}

.container{
    width:2000px;
    max-height: 300px;
    overflow:auto;
}

.gifs{
    float:left;
    margin:5px;
}

@media only screen and (max-width: 600px) {
    .jumbotron{
        width:100%;
        height:auto;
    }
    body{
        font-size: 10px;
    }
    button{
        font-size:10px;
    }
    #buttons{
        width:100%;
    }
    .container{
        width:100%;
        overflow:visible;
    }
  }
